html {
	height: 100%;
}
@font-face {
	font-family: "Raleway";
	src: url("chrome-extension://__MSG_@@extension_id__/css/Raleway-Regular.ttf");
}
@media only screen and (max-width: 1048px) { body { zoom: 0.9; } } 
@media only screen and (max-width: 948px) { body { zoom: 0.8; } }
@media only screen and (max-width: 800px) { body { zoom: 0.7; } }
@media only screen and (max-width: 600px) { body { zoom: 0.6; } }
@media only screen and (max-width: 480px) { body { zoom: 0.5; } }
body {
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica, 'Segoe UI', Arial, sans-serif;
    height: 100%;
}
/* Document wide styles */
.show {
	display: block;
}
.hide {
	display: none;
}
.done, .disabled, .empty {
	text-decoration: line-through;
	opacity: 0.5;
}
select.chooser {
	display: none;
}
a {
    text-decoration: none;
    color: inherit;
}
input {
	background: none;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	background-color: inherit;
	-webkit-font-smoothing: inherit;

}
input[type="text"] {
	border-style: solid;
	border-width: 1px;
}
input[type="submit"] {
	cursor: pointer;
	border: none;
}
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
.clickable {
	cursor: pointer;
}
h1 {
    font-size: 132px;
    font-weight: normal;
    font-style: normal;
    margin: 0 0 15px 50px;
}
.option {
	display: inline-block;
}
.small-text {
    font-size: 24px;
	display: inline-block;
	margin-right: 20px;
}

/* Header and menu */
.pages-chooser, .sort {
    margin-left: 50px;
    margin-bottom: 10px;
}
.external {
	width: 100%;
	height: calc(100% - 251px);
	overflow: hidden;
}
.internal {
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
	width: 500%;
}
.collection {
	height: 100%;
	width: 20%;
	float: left;
}
.collection > div {
	height: 100%;
}
.external_selector {
	overflow: auto;
	width: 100%;
	height: calc(100% - 42px);
}
.internal_selector {
	height: 100%;
    white-space: nowrap;
	margin-left: 50px;
}
.page {
    display: inline-block;
    vertical-align: top;
	min-width: 375px;
	flex-basis: auto;
}
.item {
	min-width: 0;
	margin: 0 10px 10px 0;
	align-items: center;
}
.item:last-child {
	margin-bottom: 0px;
}
.title {
	display: block;
	line-height: 100%;
	white-space: nowrap;
	padding: 5px;
}

/* Pagebase */
.pagebase > .group {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

/* Pagebase grouped */
.pagebase-grouped {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	height: calc(100%  - 1px);
}
.pagebase-grouped > .group {
	margin-right: 28px;
	display: inline-block;
	height: 100%;
}
.pagebase-grouped > .group > .page {
	height: calc(100% - 32px);
	overflow-y: auto;
}

/* Pagebase paneled */
.panel-page {
	margin-right: 10px;
	overflow-y: auto;
	height: 100%;
}
.panel-page > .item > div {
	display: flex;
	flex-direction: row;
}
.panel-item {
	display: block;
	line-height: 100%;
	max-width: 375px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Todos section */
#external_selector_todos {
	height: calc(100% - 85px);
}
.add {
	margin-left: 50px;
}

/* Bookmarks section */
.slash {
	font-weight: bold;
	padding-right: 4px;
}

/* Footer and bottom menu */
.footer {
	margin: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Weather section */
.weather {
    position: absolute;
    top: 30px;
    right: 15px;
    font-style: normal;
}

/* Color picker */
.picker {
    position: absolute;
    bottom: 50px;
    right: 0;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.picker > div {
    display: inline-block;
    margin-right: 15px;
	z-index: 2;
	position: relative;
}
.picker > div input {
	display: inline-block;
	vertical-align: bottom;
	font-size: 16px;
}
.picker > p {
	text-align: center;
	display: flex;
	flex-direction: row;
}
.picker-text {
    font-size: 24px;
    text-align: center;
    display: block;
	position: relative;
}

/* Theme widgets */
#newThemeTitle {
	flex-grow: 1;
}
#newThemeAuthor {
	margin-left: 8px;
}
#saveTheme {
	padding-left: 12px;
	padding-right: 12px;
}
.theme-button {
	display: inline-block;
}

/* Overlays */
.overlay, .overlay-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.message-box {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  height: 150px;
  border: solid 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#message {
	margin-bottom: 12px;
}