html {
	height: 100%;
}
@font-face {
	font-family: "Raleway";
	src: url("chrome-extension://__MSG_@@extension_id__/css/Raleway-Regular.ttf");
}
body {
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica, 'Segoe UI', Arial, sans-serif;
    height: 100%;
}
/* Document wide styles */
a {
    text-decoration: none;
    color: inherit;
}
input {
	background: none;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	background-color: inherit;
	-webkit-font-smoothing: inherit;

}
input[type="text"] {
	border-style: solid;
	border-width: 1px;
	padding: 2px;
}
input[type="submit"] {
	cursor: pointer;
	border: none;
}
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
.clickable {
	cursor: pointer;
}
h1 {
    font-size: 132px;
    font-weight: normal;
    font-style: normal;
    margin: 0 0 15px 15px;
}
.small-text {
    font-size: 24px;
	display: inline-block;
	margin-right: 20px;
}
.option {
	display: inline-block;
}

select.chooser {
	display: none;
}

/* Header and menu */
.pages-chooser, .sort {
    margin-left: 50px;
    margin-bottom: 10px;
}
.external {
	width: 100%;
	overflow: hidden;
}
.internal {
	-webkit-transition: all .2s linear;
	width: 400%;
}
.collection {
	width: 25%;
	float: left;
}
.sort {
	display: block
}

/* Weather section */
.weather {
    position: absolute;
    top: 30px;
    right: 15px;
    font-style: normal;
}
#temp > #unit {

}

/* Main content area */
.external_selector {
	overflow: auto;
	width: 100%;
}
.internal_selector {
    display: inline-block;
    white-space: nowrap;
	margin-left: 50px;
	margin-bottom: 10px;
}
.page {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}
.page:last-child {
	margin-right: 5px;
}
.item {
	height: 55px;
	margin-bottom: 10px;
}
.item:last-child {
	margin-bottom: 5px;
}
.title {
	display: block;
}

/* Bookmarks section */
.bookmark-page {
	margin-right: 10px;
	float: left;
	width: 320px; /* Can't use multi-column because its not one straight list */
	overflow-x: auto;
	overflow-y: auto;
}
.bookmark_item {
	width: 290px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Links section */
.add {
	margin-left: 50px;
}

/* Themes section */
.group {
	display: inline-block;
}
.column {
	float: left;
}
.column:first-child {
	margin-right: 30px;
}
.gallery-bio {
	font-style: italic;
}

/* Footer and bottom menu */
.footer {
	position: relative;
	width: 100%;
	margin: 15px 0 15px 0;
}
.wrench {
    margin-left: 15px;
    display: inline;
}
.font-chooser {
	margin-left: 50px;
	width: 400px;
}
.theme-buttons {
	position: absolute;
	/*bottom: 15px;*/
	right: 15px;
}
.theme-buttons > p {
	display: inline;
	margin-left: 50px;
}

/* Color picker */
.picker {
    position: absolute;
    bottom: 50px;
    right: 0;
	padding-top: 10px;
	padding-left: 10px;
}
.picker > div {
    display: inline-block;
    margin-right: 15px;
	z-index: 2;
	position: relative;
}
.picker > div input {
	display: inline-block;
	vertical-align: bottom;
	font-size: 16px;
}
.picker > p {
	text-align: center;
}
.picker-text {
    font-size: 24px;
    text-align: center;
    display: block;
	position: relative;
}
.show {
	display: block;
}
.hide {
	display: none;
}

@media only screen and (max-width: 1048px) {
	body {
		zoom: 0.9;
	}
}

@media only screen and (max-width: 948px) {
	body {
		zoom: 0.8;
	}
}

.show-color {
	font-size: 2vw;
	display: inline-block;
}