/* Generic Styles */
* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
@font-face {
	font-family: "Raleway";
	src: url("chrome-extension://__MSG_@@extension_id__/css/Raleway-Regular.ttf");
}
@media only screen and (max-width: 1048px) { body { zoom: 0.9; } }
@media only screen and (max-width: 948px) { body { zoom: 0.8; } }
@media only screen and (max-width: 800px) { body { zoom: 0.7; } }
@media only screen and (max-width: 600px) { body { zoom: 0.6; } }
@media only screen and (max-width: 480px) { body { zoom: 0.5; } }

body {
	font-size: 32px;
	-webkit-font-smoothing: antialiased;
	font-family: Helvetica, 'Segoe UI', Arial, sans-serif;
	height: 100%;
}

/* Document wide styles */
.show {
	display: block;
}
.hide {
	display: none !important;
}
.done, .disabled, .empty {
	text-decoration: line-through;
	opacity: 0.5;
}
a {
	text-decoration: none;
	color: inherit;
}
input {
	background: none;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	background-color: inherit;
	-webkit-font-smoothing: inherit;
}
input[type="text"] {
	border-style: solid;
	border-width: 2px;
}
input[type="submit"] {
	cursor: pointer;
	border: none;
}
::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}
.clickable {
	cursor: pointer;
}
h1, h2, h3 {
	font-weight: normal;
	font-style: normal;
}
h1 {
	font-size: 132px;
	margin: 0 0 15px 50px;
}
h2 {
	font-size: 72px;
	margin: 12px auto;
}
h3 {
	font-size: 58px;
	margin: 12px auto;
}
.small-text {
	font-size: 24px;
	display: inline-block;
	margin-right: 20px;
}
.option {
	display: inline-block;
}

/* Header */
.pages-chooser, .sort {
	margin-left: 50px;
	margin-bottom: 10px;
}

/* Collection and Panels */
.external {
	width: 100%;
	height: calc(100% - 251px);
	overflow: hidden;
}
.internal {
	height: 100%;
	width: 500%;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}
.collection {
	height: 100%;
	width: 20%;
	float: left;
}
.collection > div {
	height: 100%;
}
.external_selector {
	overflow: auto;
	width: 100%;
	height: calc(100% - 42px);
}
.internal_selector {
	height: 100%;
	white-space: nowrap;
	margin-left: 50px;
}
.collection {
	height: 100%;
	width: 20%;
	float: left;
}
.collection > div {
	height: 100%;
}

/* Pagebase */
.pagebase > .group {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.page {
	display: inline-block;
	vertical-align: top;
	min-width: 375px;
	flex-basis: auto;
}
.item {
	min-width: 0;
	margin: 0 10px 10px 0;
	align-items: center;
}
.item:last-child {
	margin-bottom: 0px;
}
.title {
	display: block;
	line-height: 100%;
	white-space: nowrap;
	padding: 5px;
}

/* Grouped Pagebase */
.pagebase-grouped {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	height: calc(100% - 1px);
}
.pagebase-grouped>.group {
	margin-right: 28px;
	display: inline-block;
	height: 100%;
}
.pagebase-grouped>.group>.page {
	height: calc(100% - 32px);
	overflow-y: auto;
}

/* Paneled Pagebase */
.panel-page {
	margin-right: 10px;
	overflow-y: auto;
	height: 100%;
}
.panel-page>.item>div {
	display: flex;
	flex-direction: row;
}
.panel-item-wrap {
	padding: 10px;
}
.panel-item {
	display: block;
	line-height: 100%;
	max-width: 375px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Todos */
#external_selector_todos {
	height: calc(100% - 85px);
}
.add {
	margin-left: 50px;
}

/* Bookmarks */
.slash {
	font-weight: bold;
	padding-left: 2px;
	padding-right: 4px;
}

/* Footer */
.footer {
	margin: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Weather */
.weather {
	position: absolute;
	top: 30px;
	right: 15px;
	font-style: normal;
}

/* Metro Modal */
.overlay-wrap {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	opacity: 0.6;
}
.modal-content {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	max-height: 85%;
	width: 75%;
	border: solid 2px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow-y: auto;
}
.modal-content > p {
	text-align: center;
	height: 10%;
	margin: 10% 0;
}
.modal-section {
	border-left-style: solid;
	border-bottom-style: solid;
	border-left-width: 2px;
	border-bottom-width: 2px;
	padding-left: 8px;
	padding-bottom: 8px;
	margin-left: 12.5%;
}
.modal-info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}
.modal-info .clickable {
	padding: 6px;
	margin-bottom: 8px;
	margin-right: 4px;
}
.modal-info .clickable:first {
	margin-right: 4px;
}

/* Theme Editor */
#themeEditor {
	width: 75%;
	margin: auto;
	margin-top: 0;
}
.theme-section-title {
	font-style: italic;
	border-bottom: 2px solid;
	align-content: left;	
	font-size: 0.7em;
}
.theme-editor-section {
	margin-bottom: 16px;
}
.theme-editor-border {
	border-left-style: solid;
	border-bottom-style: solid;
	border-left-width: 2px;
	border-bottom-width: 2px;
	padding-left: 8px;
	padding-bottom: 8px;
	margin-left: 12.5%;
}
.modal-info .clickable {
	padding: 6px;
	margin-bottom: 8px;
	margin-right: 4px;
}
.modal-info .clickable:first {
	margin-right: 4px;
}
.modal-content > p {
	text-align: center;
	height: 10%;
	margin: 10% 0;
}
.tristyle-section, .trisize-section, .trivariance-section {
	display: flex;
	align-items: center;
}
/* Table formatting */
.metro-table {
	border-spacing: 8px;
}
.metro-table tr {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.metro-table tr:last-child {
	border-bottom-style: hidden;
}
.metro-table td {
	vertical-align: middle;
	padding: 4px;
	padding-bottom: 8px;
}
.metro-table td:last-child {
	padding-bottom: 4px;
}