@font-face {  
    font-family: Raleway;  
    src: url(Raleway-Thin.ttf) format("truetype");  
} 
body {
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased, antialiased;
}
a {
    text-decoration: none;
    color: inherit;
}
.add {
    list-style: none;
    margin-left: 50px;
}
.item, #links li {
    margin-bottom: 25px;
}
#links {
	margin-left: 50px;
}
.menu {
    margin-left: 50px;
    margin-bottom: 10px;
}
.collection {
	position: absolute;	
	width: 100%;
}
.paging {
    margin-right: 20px;
    cursor: pointer;
}
.weather {
    position: absolute;
    top: 30px;
    right: 15px;
    font-style: normal;
}
input {
    font-family: inherit;
    font-style: italic;
    font-size: inherit;
    border: solid 1px white;
    width: 450px;
}
.add {
    width: 62px;
    cursor: pointer;
}
.remove, #edit {
    cursor: pointer;
}
h1 {
    font-size:132px;
    font-weight: normal;
    font-style: normal;
    margin: 15px;
    margin-bottom: 20px;
}
h3 {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    margin: 0px;
    right: 10px;
    bottom: 10px;
}
.wrench {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.colors {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
#reset {
    position: absolute;
    bottom: 15px;
    right: 150px;
    cursor: pointer;
}
.picker {
    position: absolute;
    bottom: 75px;
    right: 0px;
}
.picker > div {
    display: inline-block;
    margin-right: 15px;
}
.picker-text {
    font-size: 24px;
    text-align: center;
    display: block;
    margin: auto;
}
.page {
    display: inline-block;
    margin-right: 5%;
    vertical-align: top;
}
.page:last-child {
    margin-right: 0px !important;
}
.internal_selector {
    display: inline-block;
    white-space: nowrap;
	margin-left: 50px;
}
#apps {
	width: 100%;
}
.external_selector {
    overflow-y: auto;
	width: 100%;
}
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
.bookmark_page {
	margin-left: 10px;
	float: left;
	width: 320px;
	height: 285px;
	overflow-y: auto;
	overflow-x: hidden;
}
.item:last-child {
	margin-bottom: 0px;
}
