// Generic Styles
$default-background: #fff;
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font: -apple-system-body;
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica, 'Segoe UI', Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

// Document wide styles
.show {
    display: block;
}

.hide {
    display: none !important; // sass-lint:disable-line no-important
}

.done,
.disabled,
.empty {
    opacity: .5;
    text-decoration: line-through;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    -webkit-font-smoothing: inherit;
    background: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    &[type='submit'] {
        border: 0;
        cursor: pointer;
    }

    &[type='text'] {
        padding-left: 8px;
        width: 100vw;

        #newLocation {
            margin-bottom: 8px;
        }
    }
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.clickable {
    cursor: pointer;
}

.title-color {
    white-space: nowrap;
}
.item,
.info {
    >.small-text {
        margin-right: 20px;
    }
}

.option {
    display: inline-block;
}

// Collection and Panels
.external {
    flex-grow: 1;
    width: 100%;

    .internal {
        transition: margin .3s ease-in-out;
        width: 500%;
    }
}

.external-selector {
    overflow: auto;
    width: 100%;

    .internal-selector {
        margin-left: 25px;
        white-space: nowrap;
    }
}

.collection {
    float: left;
    width: 20%;

    >div {
        // height: 100%;
    }
}

// Pagebase
.pagebase>.group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.page {
    display: inline-block;
    flex-grow: 1;
    min-width: 375px;
    max-width: 100%;
    vertical-align: top;

    .item {
        .active {
            padding-left: 10px;
        }
    }
}

.item {
    align-items: center;
    min-width: 0;

    :last-child {
        margin-bottom: 0;
    }
}

.title {
    display: block;
    line-height: 100%;
    padding: 5px 0;
    white-space: nowrap;

    #internal-selector-sessions {
        max-width: 375px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

// Grouped Pagebase
.pagebase-grouped {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    height: calc(100% - 1px); // Minus the number of points the font has increased by...

    .group {
        display: inline-block;
        // height: 100%;
        margin-right: 28px;
    }

    .page,
    .group>.page {
        border-top: 1px solid;
        // height: calc(100% - 32px);
        overflow-y: auto;
    }
}

.page>.item>div {
    display: flex;
    flex-direction: row;
}

// Paneled Pagebase
.panel-page {
    height: 100%;
    margin-right: 10px;
    overflow-y: auto;
}

.panel-item,
.item>.title {
    max-width: max(425px, 100%);
    overflow: hidden;
    padding: 10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.theme-item {
        padding-left: 0;
    }
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; // .small-text {
    //     margin-right: 20px;
    // }
}

.add {
    margin-left: 50px;
}

// Bookmarks
#internal-selector-bookmarks>.pagebase-grouped>.page {
    height: 100%;
    padding-left: 0;
}

.slash {
    align-self: center;
    font-size: 1.2rem;
    font-weight: bolder;
    padding-right: 4px;
}

// Themes
#internal-selector-themes>.group>.page>.item {
    padding-bottom: 10px;
}

// Footer
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

h1,
h2,
h3 {
    font-style: normal;
    font-weight: normal;
}
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
        margin: 0 0 15px 25px;
    }

    h2 {
        font-size: 1.6rem;
        margin: 12px auto;
    }

    h3 {
        font-size: 1.2rem;
        margin: 12px auto;
    }

    h4 {
        font-size: 0.9rem;
        margin: 12px auto;
    }

    h5 {
        font-size: 0.7rem;
        margin: 12px auto;
    }

    .small-text {
        display: inline-block;
        font-size: inherit;
    }

    // Header
    .pages-chooser,
    .sort {
        margin-bottom: 10px;
        margin-left: 25px;
    }

    // // Collection and Panels
    // .external {
    //     // height: calc(100% - 251px - 153px);
    //     height: calc(100% - 128px - 128px - 32px - 32px - 25px - 25px - 10px - env(safe-area-inset-bottom));
    //     overflow: hidden;
    //     width: 100%;
    // }
    
    // // Todos
    // #external-selector-todos {
    //     height: calc(100% - 128px - 128px - 32px - 32px - 25px - 25px - 10px - 64px - env(safe-area-inset-bottom));
    // }

    // // Collection and Panels
    // .show-options .external {
    //     // height: calc(100% - 251px - 153px);
    //     height: calc(100% - 95px - 128px - 128px - 32px - 32px - 25px - 25px - 10px - env(safe-area-inset-bottom));
    //     overflow: hidden;
    //     width: 100%;
    // }
    
    // // Todos
    // .show-options #external-selector-todos {
    //     height: calc(100% -95px - 128px - 128px - 32px - 32px - 25px - 25px - 10px - 64px - env(safe-area-inset-bottom));
    // }

    :root {
        --weather-height: calc(108px + 25px + 44px);
        --title-height: calc(92px + 15px);
        --chooser-height: calc(54px + 10px);
        --sort-height: 0px;
        --footer-height: calc(24px + 30px + max(25px, env(safe-area-inset-bottom)));
        
        .show-options {
            --weather-height: calc(203px + 25px + 44px);
            --title-height: calc(92px + 15px);
            --chooser-height: calc(54px + 10px);
            --sort-height: calc(27px + 10px);
            --footer-height: calc(24px + 30px + max(25px, env(safe-area-inset-bottom)));
        }

        --other-height: calc(var(--weather-height) + var(--title-height) + var(--sort-height) + var(--chooser-height) + var(--footer-height));
    }

    // Collection and Panels
    .external {
        // height: calc(100% - 251px - 153px);
        // height: calc(100% - var(--other-height));
        overflow: hidden;
        width: 100%;
    }
    
    // Todos
    // #external-selector-todos {
        // height: calc(100% - var(--other-height) - var(--sort-height));
    // }

    // Collection and Panels
    .show-options .external {
        // height: calc(100% - 251px - 153px);
        // height: calc(100% - var(--other-height));
        overflow: hidden;
        width: 100%;
    }
    
    // Todos
    // .show-options #external-selector-todos {
    //     height: calc(100% -95px - 128px - 128px - 32px - 32px - 25px - 25px - 10px - 64px - env(safe-area-inset-bottom));
    // }
    // Weather
    .weather {
        font-style: normal;
        margin: 25px;
        margin-bottom: 0;
    }
    // .footer {
    //     // margin-bottom: env(safe-area-inset-bottom, 25px);
    // }
}
@media only screen and (min-width: 480px) {
    h1 {
        font-size: 4rem;
        margin: 0 0 15px 25px;
    }

    h2 {
        font-size: 3.2rem;
        margin: 12px auto;
    }

    h3 {
        font-size: 2.6rem;
        margin: 12px auto;
    }

    h4 {
        font-size: 2rem;
        margin: 12px auto;
    }

    h5 {
        font-size: 1.4rem;
        margin: 12px auto;
    }

    .small-text {
        display: inline-block;
        font-size: .8rem;
    }

    // Header
    .pages-chooser,
    .sort {
        margin-bottom: 10px;
        margin-left: 25px;
    }

    // Collection and Panels
    .external {
        // height: calc(100% - 251px);
        overflow: hidden;
        width: 100%;
    }
    
    // Todos
    // #external-selector-todos {
    //     height: calc(100% - 85px);
    // }

    // Weather
    .weather {
        position: absolute;
        right: 15px;
        top: 30px;
        font-style: normal;
        max-width: 100%;
    }
}
// Weather
// .weather {
//     font-style: normal;
//     position: absolute;
//     right: 15px;
//     top: 30px;
// }

// Metro Modal
.overlay-wrap {
    background-color: $default-background;
    height: 100vh;
    left: 0;
    opacity: .6;
    position: fixed;
    top: 0;
    width: 100vw;
}

.modal-content {
    align-items: center;
    border: solid 2px;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    left: 0;
    margin: auto;
    max-height: 85%;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 75%;
}

.modal-content>p {
    height: 10%;
    margin: 10% 0;
    text-align: center;
}

.modal-section {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-style: solid;
    border-left-width: 2px;
    margin-left: 12.5%;
    padding-bottom: 8px;
    padding-left: 8px;
}

.modal-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .clickable {
        border: 2px solid;
        margin-bottom: 8px;
        margin-right: 4px;
        padding: 6px;

        :first {
            margin-right: 4px;
        }
    }
}

// Theme Editor
#themeEditor {
    margin: auto;
    margin-top: 0;
    width: 75%;
}

.theme-section-title {
    align-content: left;
    border-bottom: 2px solid;
    font-style: italic;
}

.theme-editor-section {
    margin-bottom: 16px;
}

.theme-editor-border {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-style: solid;
    border-left-width: 2px;
    margin-left: 12.5%;
    padding-bottom: 4px;
    padding-left: 4px;
}

.tristyle-section,
.trisize-section,
.trivariance-section {
    align-items: center;
    display: flex;
}

// Table formatting
.metro-table {
    border-spacing: 8px;

    td {
        padding: 4px;
        padding-bottom: 4px;
        vertical-align: middle;
    }
}

#aboutModal {
    text-align: center;

    .metro-table {
        width: 100%;
    }
}

.group>.page>.item {
    padding-bottom: 8px;

    >.title {
        margin-bottom: -8px;
    }
}

.addremove_button {
    margin-left: 8px;
}