<!DOCTYPE html>
<html>
<head>
	<title>share themes</title>
	<link type="text/css" rel="stylesheet" href="css/reset.css" />
	<link type="text/css" rel="stylesheet" href="css/main.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<style type="text/css">
	body {
		width: 960px;
		margin: auto;
	}
	h2 {
		color: red;
		font-size: inherit;
	}
	.sample {
		margin-top: 150px;
		margin-right: 0;
	}
	form {
		margin-left: 0;
		margin-right: 0;
	}

	{% for e in err %}
	input[name={{ e }}] {
		background-color: red;
	}
	{% endfor %}
	</style>
</head>
<body>
	<h1><a href="index.html" style="color: inherit">share theme</a></h1>
	<form action="/newtheme" method="get">
		<table>
			<tbody>
				{% if err|length != 0 %}
				<tr>
					<td>
					</td>
					<td>
						<h2>please add missing details</h2>
					</td>
				</tr>
				{% endif %}
				<tr>
					<td>
						<label for="title">title</label>
					</td>
					<td>
						<input type="text" name="title" value="{{ title }}" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="author">author</label>
					</td>
					<td>
						<input type="text" name="author" value="{{ author }}" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="email">email</label>
					</td>
					<td>
						<input type="text" name="email" value="{{ email }}" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="website">website</label>
					</td>
					<td>
						<input type="text" name="website" value="{{ website }}" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="title-color">title color</label>
					</td>
					<td>
						<input type="text" name="titlecolor" value="{{ title_color }}" class="color" id="title-color" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="background-color">background color</label>
					</td>
					<td>
						<input type="text" name="backgroundcolor" value="{{ background_color }}" class="color" id="background-color"  />
					</td>
				</tr>
				<tr>
					<td>
						<label for="main-color">main color</label>
					</td>
					<td>
						<input type="text" name="maincolor" value="{{ main_color  }}" class="color" id="main-color" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="options-color">options color</label>
					</td>
					<td>
						<input type="text" name="optionscolor" value="{{  options_color }}" class="color" id="options-color" />
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<input type="submit" class="submit" value="submit theme">
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<div class="sample">
		<p class="title-text">preview</p>
		<div class="background-color">
			<div class="">
				<div class="title-color start">start here...</div>
				<div class="menu options-color"></div>
				<div class="list">
					<div class="main-color main-text"></div>
					<div class="main-color main-text"></div>
					<div class="main-color main-text"></div>
				</div>
				<div class="list">
					<div class="main-color main-text"></div>
					<div class="main-color main-text"></div>
					<div class="main-color main-text"></div>
				</div>
				<div class="list">
					<div class="main-color main-text"></div>
					<div class="main-color main-text"></div>
					<div class="main-color main-text"></div>
				</div>
				<div class="options-color wrench"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$(function() {
		$('.color').each(function(index, element) {
			if ($(element).prop('id') == 'title-color') {
				$(element).on('input', function(e) {
					$('.' + $(this).prop('id')).css('color', $(this).val());
				});
			} else {
				$(element).on('input', function(e) {
					$('.' + $(this).prop('id')).css('background-color', $(this).val());
				});
			}
			$(element).trigger('input');
		});
	});
	</script>
</body>
</html>
