!!!
%html{"lang" => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "css/reset.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/spectrum.css", :rel => "stylesheet"}/
    %title start
      
  %body.background-color
    %h1.title-color start here . . .
    .pages-chooser
      %select#pages-chooser.chooser
        %option.clickable.todos-option todos
        %option.clickable.sessions-option sessions
        %option.clickable.apps-option apps
        %option.clickable.bookmarks-option bookmarks
        %option.clickable.themes-option themes

    .external
      .internal
        .todos.collection
          #todos
            .options-color.option.sort
              %select#todos-sort-chooser.chooser
                %option.clickable
                  unsorted
                %option.clickable
                  sorted
            #external-selector-todos.external-selector
              #internal-selector-todos.internal-selector
            #addTodo.add.option
              %input#newTodo.option{:name => "newTodo", :placeholder => "new todo", :type => "text"}/
              #saveTodo.options-color.option.clickable save

        .sessions.collection
          #sessions
            .options-color.option.sort
              %select#sessions-sort-chooser.chooser
                %option.clickable
                  unsorted
                %option.clickable
                  sorted
            #external-selector-sessions.external-selector
              #internal-selector-sessions.internal-selector

        .apps.collection
          #apps
            .options-color.option.sort
              %select#apps-sort-chooser.chooser
                %option.clickable
                  unsorted
                %option.clickable
                  sorted
            #external-selector-apps.external-selector
              #internal-selector-apps.internal-selector

        .bookmarks.collection
          #bookmarks
            .options-color.option.sort
              %select#bookmarks-sort-chooser.chooser
                %option.clickable
                  unsorted
                %option.clickable
                  sorted
            #external-selector-bookmarks.external-selector
              #internal-selector-bookmarks.internal-selector

        .themes.collection
          #themes
            .options-color.option.sort
              %select#themes-sort-chooser.chooser
                %option.clickable
                  unsorted
                %option.clickable
                  sorted
            #external-selector-themes.external-selector
              #internal-selector-themes.internal-selector

    .weather
      #toggleWeather.options-color.option.clickable
      #weather.hide
        #city
        %div
          %input#newLocation.option{:placeholder => "vancouver, bc", :type => "text"}/
          %span#saveLocation.options-color.option.clickable save
        .options-color.option
          %select#weather-unit-chooser.chooser
            %option.clickable fahrenheit
            %option.clickable celsius
        %p#temp
          %span#currentTemp>
          °
          %span#unit.options-color
          \/
          %span#highTemp
          %span.options-color hi
          \/
          %span#lowTemp
          %span.options-color lo
        %p#condition

    .footer
      %p#wrench.options-color.wrench.clickable wrench
      %p#aboutButton.option.options-color.clickable.about-button about 
      %p#editThemeButton.option.options-color.clickable.theme-button edit theme

    #aboutModal
      %h2.title-color about metro start
      %p A new tab page for Google Chrome inspired by Zune.
      %h5.options-color 
        .small-text ⚡
        POWERED BY
        .small-text ⚡
      %table.metro-table
        %tbody
          %tr
            %td
              %a{:href => 'http://qrohlf.com/trianglify'} Trianglify
          %tr
            %td 
              %a{:href => 'https://jquery.com'} Jquery
          %tr
            %td 
              %a{:href => 'https://github.com/Box9/jss'} JSS
          %tr
            %td 
              %a{:href => 'https://github.com/metro-start/metro-select'} MetroSelect
          %tr
            %td 
              %a{:href => 'https://bgrins.github.io/spectrum'} Spectrum Colorpicker
          %tr
            %td 
              %a{:href => 'https://bgrins.github.io/TinyColor'} TinyColor
          %tr
            %td 
              %a{:href => 'https://github.com/metro-start/metro-start/blob/master/package.json'} and others...

    #themeEditor
      %h3.title-color theme editor
      .picker
        .theme-section-title.small-text font options
        .theme-editor-section.options-color
          %select#font-chooser.chooser
            %option.clickable system
            %option.clickable raleway
            %option.clickable source
            %option.clickable wire one
            %option.clickable im fell 
            %option.clickable custom

        .theme-editor-section
          #default.font-chooser-section
          #raleway.font-chooser-section
          #custom.theme-editor-border.font-chooser-section
            .theme-section-title.small-text font style options
            %table.metro-table
              %tbody
                %tr
                  %td
                    %span.small-text readability aid
                  %td
                    .options-color
                      %select#fontreadability-chooser.chooser
                        %option.clickable on
                        %option.clickable off

                %tr
                  %td
                    %span.small-text family
                  %td
                    .options-color
                      %select#fontfamily-chooser.chooser
                        %option.clickable system
                        %option.clickable raleway
                        %option.clickable source
                        %option.clickable wire one
                        %option.clickable im fell 

                %tr
                  %td
                    %span.small-text weight
                  %td
                    .options-color
                      %select#fontweight-chooser.chooser
                        %option.clickable normal
                        %option.clickable lighter
                        %option#raleway.clickable.fontfamily-section bolder

                %tr
                  %td
                    %span.small-text variant
                  %td
                    .options-color
                      %select#fontvariant-chooser.chooser
                        %option.clickable normal
                        %option.clickable small-caps

        .theme-section-title.small-text color palette options
        .theme-editor-section.options-color
          %select#palette-chooser.chooser
            %option.clickable automatic
            %option.clickable custom

        .theme-editor-section
          #automatic.theme-editor-border.palette-chooser-section
            %table.metro-table
              %thead
                %tr
                  %th.theme-section-title.small-text automatic color options
              %tbody
                %tr
                  %td
                    %span.small-text base
                  %td
                    %input#baseColor{:size => "9", :type => "text"}/

          #custom.theme-editor-border.palette-chooser-section
            %table.metro-table
              %thead
                %tr
                  %th.theme-section-title.small-text custom color options
              %tbody
                %tr
                  %td
                    %span.small-text title
                  %td
                    %input#titleColor{:type => "text"}/
                %tr
                  %td
                    %span.small-text main
                  %td
                    %input#mainColor{:type => "text"}/
                %tr
                  %td
                    %span.small-text options
                  %td
                    %input#optionsColor{:type => "text"}/
                %tr
                  %td
                    %span.small-text background
                  %td
                    %input#backgroundColor{:type => "text"}/
            
        .theme-section-title.small-text background options
        .theme-editor-section.options-color
          %select#background-chooser.chooser.theme-editor-section
            %option.clickable trianglify
            %option.clickable none

        .theme-editor-section
          #none.background-chooser-section
          #trianglify.theme-editor-border.background-chooser-section
            %table.metro-table
              %thead
                %tr
                  %th.theme-section-title.small-text trianglify options
              %tbody
                %tr
                  %td
                    %span.small-text style
                  %td
                    .options-color
                      %select#tristyle-chooser.chooser
                        %option.clickable Triad
                        %option.clickable Tetrad
                        %option.clickable Monochromatic
                        %option.clickable Split Complements

                %tr
                  %td
                    %span.small-text size
                  %td
                    .options-color
                      %select#trisize-chooser.chooser
                        %option.clickable small
                        %option.clickable medium
                        %option.clickable large

                %tr
                  %td
                    %span.small-text variance
                  %td
                    .options-color
                      %select#trivariance-chooser.chooser
                        %option.clickable uniform
                        %option.clickable bent
                        %option.clickable freeform

        .theme-section-title.small-text author info
        .theme-editor-section
          #author.theme-editor-border
            %table.metro-table
              %tbody
                %tr
                  %td
                    %span.small-text title
                  %td
                    %input#title{:type => "text", :placeholder => "a great theme"}/
                %tr
                  %td
                    %span.small-text author
                  %td
                    %input#author{:type => "text", :placeholder => "anonymous"}/

    // Rule to hide all options when page first loads.
    // Removes option elements added after the calls to hide .option were made.
    %style#hideRule{:type => "text/css"}
      \.option { display: none; }

      /* Remove extra space that was added for sorting. */
      \.external-selector { height: 100%; }
      
      \#external-selector-todos { height: 100%; }

    %script{:src => "metro-start.js"}
