!!!
%html{"ng-csp" => ""}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "css/reset.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/spectrum.css", :rel => "stylesheet"}/
    %title start
      
  %body.background-color
    %h1.title-color start here . . .
    .pages-chooser
      %select#pages-chooser.chooser
        %option.clickable.todos-option todos
        %option.clickable.sessions-option sessions
        %option.clickable.apps-option apps
        %option.clickable.bookmarks-option bookmarks
        %option.clickable.themes-option themes

    .external
      .internal
        .todos.collection
          #todos
            .options-color.option.sort
              %select#todos-sort-chooser.chooser
                %option.clickable
                  unsorted
                %option.clickable
                  sorted
            #external_selector_todos.external_selector
              #internal_selector_todos.internal_selector
            %form#addTodo.add.option
              %input#newTodo.option{:name => "newTodo", :placeholder => "new todo", :size => "26", :type => "text"}/
              %input.options-color.option{:type => "submit", :value => "save"}/

        .sessions.collection
          #sessions
            .options-color.option.sort
              %select#sessions-sort-chooser.chooser
                %option.clickable
                  unsorted
                %option.clickable
                  sorted
            #external_selector_sessions.external_selector
              #internal_selector_sessions.internal_selector

        .apps.collection
          #apps
            .options-color.option.sort
              %select#apps-sort-chooser.chooser
                %option.clickable
                  unsorted
                %option.clickable
                  sorted
            #external_selector_apps.external_selector
              #internal_selector_apps.internal_selector

        .bookmarks.collection
          #bookmarks
            .options-color.option.sort
              %select#bookmarks-sort-chooser.chooser
                %option.clickable
                  unsorted
                %option.clickable
                  sorted
            #external_selector_bookmarks.external_selector
              #internal_selector_bookmarks.internal_selector

        .themes.collection
          #themes
            .options-color.option.sort
              %select#themes-sort-chooser.chooser
                %option.clickable
                  unsorted
                %option.clickable
                  sorted
            #external_selector_themes.external_selector
              #internal_selector_themes.internal_selector

    .weather
      #toggleWeather.options-color.option.clickable
      #weather.hide
        #city
        %div
          %form#saveLocation
            %input#newLocation.option{:placeholder => "vancouver, bc", :size => "14", :type => "text"}/
            %input.options-color.option{:type => "submit", :value => "save"}/
        .options-color.option
          %select#weather-unit-chooser.chooser
            %option.clickable fahrenheit
            %option.clickable celsius
        %p#temp
          %span#currentTemp>
          °
          %span#unit.options-color
          \/
          %span#highTemp
          %span.options-color hi
          \/
          %span#lowTemp
          %span.options-color lo
        %p#condition

    .footer
      %p#wrench.options-color.wrench.clickable wrench
      %p#editThemeButton.option.options-color.clickable.theme-button edit theme

    #themeEditor
      %h3.title-color theme editor
      .picker
        .theme-section-title font options
        .theme-editor-section.options-color
          %select#font-chooser.chooser
            %option.clickable{:value => "0"} normal fonts
            %option.clickable{:value => "1"} thin fonts

        .theme-section-title color palette options
        .theme-editor-section.options-color
          %select#palette-chooser.chooser
            %option.clickable automatic
            %option.clickable custom

        .theme-editor-section
          #automatic.theme-editor-border.palette-section
            .theme-section-title automatic options
            %div
              %span.small-text base
              %input#baseColor{:size => "9", :type => "text"}/

          #custom.theme-editor-border.palette-section
            .theme-section-title custom options
            %div
              %span.small-text title
              %input#titleColor{:size => "9", :type => "text"}/
            %div
              %span.small-text main
              %input#mainColor{:size => "9", :type => "text"}/
            %div
              %span.small-text options
              %input#optionsColor{:size => "9", :type => "text"}/
            %div
              %span.small-text background
              %input#backgroundColor{:size => "9", :type => "text"}/

        .theme-section-title background options
        .theme-editor-section.options-color
          %select#background-chooser.chooser.theme-editor-section
            %option.clickable{:value => "0"} trianglify
            %option.clickable{:value => "1"} none

        .theme-editor-section
          #none.theme-editor-border.background-section.hide
          #trianglify.theme-editor-border.background-section
            .theme-section-title trianglify options
            %table.metro-table
              %tbody
                %tr
                  %td
                    %span.small-text style
                  %td
                    .tristyle-section.options-color
                      %select#tristyle-chooser.chooser
                        %option.clickable Triad
                        %option.clickable Tetrad
                        %option.clickable Monochromatic
                        %option.clickable Split Complements
                        %option.clickable Engulfed in Flames

                %tr
                  %td
                    %span.small-text size
                  %td
                    .trisize-section.options-color
                      %select#trisize-chooser.chooser
                        %option.clickable{:value => "10"} small
                        %option.clickable{:value => "70"} medium
                        %option.clickable{:value => "125"} large

                %tr
                  %td
                    %span.small-text variance
                  %td
                    .trivariance-section.options-color
                      %select#trivariance-chooser.chooser
                        %option.clickable{:value => "0"} uniform
                        %option.clickable{:value => "0.375"} bent
                        %option.clickable{:value => "0.75"} freeform

        .theme-section-title author info
        .theme-editor-section
          #author.theme-editor-border
            %table.metro-table
              %tbody
                %tr
                  %td
                    %span.small-text title
                  %td
                    %input#title{:placeholder => "title", :size => "20", :type => "text"}/
                %tr
                  %td
                    %span.small-text author
                  %td
                    %input#author{:placeholder => "author", :size => "20", :type => "text"}/

    // Rule to hide all options when page first loads.
    // Removes option elements added after the calls to hide .option were made.
    %style#hideRule{:type => "text/css"}
      \.option {
      display: none;
      }

      \/* Remove extra space that was added for sorting. */
      \.external_selector {
      height: 100%;
      }
      
      \#external_selector_todos {
      height: 100%;
      }

    %script{:src => "metro-start.js"}
